extends layout

block content
    .error-box
        h1.status 404
        p.status-text NOT FOUND
        hr
        p Lo sentimos, no encontramos los que buscabas, intentalo nuevamente!
        a.form-btn-link(href='/user/form')
            button.btn.home-btn FORMULARIO
