extends layout

block content
    .error-box
        h1.status 404
        p.status-text NOT FOUND
        hr
        p.status-message Lo siento, la página que buscas no existe. Prueba usando el menú de navegación! 
