extends layout

block content
    .welcome-box
        h1.welcome-message BIENVENIDO/A!
        h2 MERCADO LIBRE - TEST
        .test-info
            p AUTOR: Georgina Melisa Cáceres
            P FECHA ENTREGA: 27 de julio de 2018
  
