.list-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
	padding: 35px;
    padding-top: 10px;
    border-radius: 6px;
    background-color:#48484825;
}

.list-box h2 { font-weight: normal; margin-bottom: 15px}

#input-filter {
    background-image: url('../images/search.png');
    background-position: 10px 12px; background-repeat: no-repeat; width: 100%;
    font-size: 16px; padding: 12px 20px 12px 40px; border: 1px solid #ddd; margin-bottom: 12px;
}

#users-table {border-collapse: collapse; width: 100%; margin: 10px 0; border: none; font-size: 16px;}

#users-table th, td {text-align: left; padding: 12px; font-weight: 400; cursor: default;}

#users-table tr {border-bottom: 1px solid #ddd; background-color: #e6e6e6}

#users-table tr.header {background-color: #fff159; border-bottom: 1px solid black; border-top: 1px solid black}

.btn-action {margin: auto 5px; border: none; background-color: transparent; color: black; padding: 3px 3px;
  font-size: 16px; cursor: pointer; border-radius: 6px}
.btn-edit a { color: #551A8B}
.btn-edit:hover a {color: white;}

.btn-edit:hover{ background: #551A8B}
.btn-delete{border-color: #f44336; color: #CB0505
; padding: 3px 6px}
.btn-delete:hover {background: #f44336; color: white;}

.td-action {text-align: right;}
.th-action, .td-action {width: 100px}

@media screen and (min-width:240px) and (max-width:1024px) {
	.list-box {
        width: 100%;
        margin: 0;
    }

    .btn-save {margin-top: 10px}
}

@media
only screen and (max-width: 667px) {

	table, thead, tbody, th, td, tr {
		display: block;
        font-size:12px
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
    	border: none;
		border-bottom: 1px solid #eee;
		position: relative;
        padding: 5px 0;
		padding-left: 40%;
	}

    .row {margin-bottom: 5px}
    .td-phone {min-height: 25px}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	td:nth-of-type(1):before { content: "NOMBRE"; }
	td:nth-of-type(2):before { content: "APELLIDO"; }
	td:nth-of-type(3):before { content: "TELÉFONO"; }
	td:nth-of-type(4):before { content: "EMAIL"; }
	td:nth-of-type(5):before { content: "ACCIONES"; }

    .td-action {text-align: left;}
    .th-action, .td-action {width: 100%}
}
