@import url('index.css');
@import url('form.css');
@import url('list.css');
@import url('modal.css');
@import url('404.css');

* { font-family: 'Varela Round', sans-serif; box-sizing: border-box;}

body {font-size: 14px;
  background-color: #fff159;
  margin: 0;
  padding: 0;
  width: 100%
}

a {text-decoration: none;}

header {
    width: 100%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

.nav-box {
    width: 50%;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    list-style: none;
}

.link {
  width: 25%;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #585858;
  background-color: #ededed
}

.link:hover, .link:hover a {
  color: #ffb100;
  cursor: pointer;
}

.link.first, .link.third {
  background-color: #f9f9f9;
}

.link a {text-align: center;}

.link.scnd, .link.last {
  background-color: #f4f4f4;
}

@media screen and (min-width:240px) and (max-width:800px) {
	.nav-box {
        width: 100%;
    }
}
